
.progress{
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left{
  left: 0;
}
.progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar{
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right{
  right: 0;
}
.progress .progress-right .progress-bar{
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #44484b;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}
.progress.yellow .progress-bar{
  border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
  animation: loading-3 1s linear forwards 1.8s;
}

@keyframes loading-1{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

  #log {
    clear: left;
  }
  
  .container2 {
    text-transform: uppercase;
    display: none;
  }

@media (max-width: 767px) {
  [class*="col-"]{
    max-width: 100%;
    line-height: 0;
  }

  #fondo{
  background-color: #454545;
  font-size: 16em; 
}

.titulo {
  text-align: center;
  color: #FF7C0F;
  padding: 0.5em;
}

  .container2 {
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 0.7em;
  }
  
  .titulo2 {
  text-align: center;
  color: #FF7C0F;
  padding: 5px;
  margin: 0;
  border: 0;
}

  .linea {
  width: 80%;
  padding-bottom: 0.1em;
  margin: 0;
  border: 0;
  line-height: 0;
}

.mapa {
  height: 1em;
  width: 1.7em;
  margin: 0;
  margin-bottom: -20px;
  border: 0;
}

.titulo3 {
  text-align: center;
  color: #FF7C0F;
}

.contador {
  width: 0.1em;
  
}

#tb-content {
  display: none;
}

.buscador {
  width: 40%;
  font-size: 10px;
  text-align: center;
}

.platos img {
  margin: 3px;
  width: 80%;
  text-align: center;
}

.postres img {
  margin: 3px;
  width: 80%;
  text-align: center;
}

.bebestibles img {
  margin: 3px;
  width: 80%;
  text-align: center;
}
#menu-overlay {
  width: 200px;
  height: 200px;
  background-color: #000;
  color: #FFF;
  text-align: center;
  z-index: 1;
  opacity: 0.5;
  position: fixed;
  display:none;
}
}


/*
.container2 .linea {
  width: 80%;
  padding-bottom: 0;
  margin-top: -260px;
  margin-left: 45px;
}

  }
};